/* Province-app */
body{
    text-align: center;
}
.searchbox {
    width: auto;
    height: auto;
    text-align: center;
    border-bottom: 1px #000 solid;
    padding-bottom: 10px;
}

#inputsearch {
    width: 200px;
}
.content {
    text-align: center;

}
.cities, .provinces {
    position: relative;
    float: left;
    width: 200px;
    min-height: 100px;
    background: #31b0d5;
}
h2 {
    font-family: sans-serif;
}