/* Province-app */
.searchbox {
    width: auto;
    height: auto;
    text-align: center;
    border-bottom: 1px #000 solid;
    padding-bottom: 10px;
}

#inputsearch {
    width: 200px;
}
.content {
    text-align: center;
}
.cities, .provinces {
    display: inline-block;
}