/* Bootstrap */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css");

/* Province-app */
body{
    margin-top: 10px;
}
.container {
    width: auto;
}
.searchbox {
    width: auto;
    height: auto;
    border-bottom: 1px #000 solid;
    padding-bottom: 10px;
    text-align: center;
}

.content {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.cities, .provinces {
    float: left;
    width: 250px;
    min-height: 100px;
}
h3 {
    text-align: center;
}
button {
    text-align: center;
}
.cities li, .provinces li {
    text-transform:capitalize;
}